version: "3.9"

networks:
   devops-net:


services:
  web:
    image: docker-dotnet-app
    build: .
    ports:
      - "8090:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - db
    networks:
      - devops-net

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - devops-net

volumes:
  pgdata:

