name: .NET CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ./projects/docker-dotnet-app

      - name: Build project
        run: dotnet build ./projects/docker-dotnet-app --configuration Release --no-restore

      - name: Build Docker image
        run: docker build -t docker-dotnet-app ./projects/docker-dotnet-app
